.about {
  margin:20px 0 200px 0;
  text-align: center;
}

.about p{
  width: 60%;
  line-height: 1.5;

  margin: 30px auto 0 auto
}
.about h1{
  margin-bottom: 30px;
}

.photo img {
  width: 25%;
  border-radius: 100%;
  border-style: solid;;
  border-width: 5px;
  border-color: white;
}

.description a{
  text-decoration: none;
  color: #5A7C54;
}

.description a:hover {
  text-decoration: underline;;
  color: #5A7C54;
}

@media screen and (max-width: 1000px){
  .description p{
    width: 80%;
  }
}

/* @media screen and (max-width: 768px){
.description {
    width: 80%;
    margin: 30px auto 100px auto;
  }
} */
