/* * {
  box-sizing: border-box;
} */

.about {
  margin: 100px 0 150px 0;
  text-align: center;
}

.about p{
  width: 50%;
  line-height: 2;
  margin: 20px auto 0 auto;
  text-align: left;
}

.about h1{
  margin-top: 30px;
  margin-bottom: 30px;
}

/*
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
/* }

.left {
  width: 45%;
}

.right {
  width: 55%;
}

.about:after {
  content: "";
  display: table;
  clear: both;
} */

.photo img {
  align: center;
  width: 18%;
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.description a{
  text-decoration: none;
  color: #5A7C54;
}

.description a:hover {
  text-decoration: none;;
  color: #5A7C54;
}

@media screen and (max-width: 1000px){
  .description p{
    width: 70%;
  }

  .photo img {
    width: 25%;
  }

}

@media screen and (max-width: 768px){
  .description {
    width: 90%;
    margin: 30px auto 100px auto;
  }
  .photo img {
    width: 30%;
  }
}
