.title {
  margin:20px 0 50px 0;
  text-align: center;
}

.title p{
  width: 50%;
  margin: 30px auto 0 auto;
  line-height: 1.5;
}
.title h1{
  margin-bottom: 30px;
}

@media screen and (max-width: 991px){
  .title p{
    width: 80%;
  }
}

.photo img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   /* padding: 10px; */
   /* border-radius: 4px; */
}

.description{
  text-align: left;
  width:100%;
}

.description a{
  text-decoration: none;
  color: #5E5C5C;
}

.description a:hover {
  text-decoration: underline;;
  color: #5E5C5C;
}

.description p{
  width:100%;
  color: #5E5C5C;
  line-height: 1.5;
  margin-bottom: 1.2em ;
  font-size: 16px;
}

.description h1{
  font-size: 30px;
  width:100%;
  color: black;
}

.description h5{
  width:100%;
}

.overview {
  width:45%;
  align-items: center;
  margin: 30px auto 0 auto;
  line-height: 1.5;
}

@media screen and (max-width: 991px){
  .overview{
    width: 85%;
  }
}

.researchq{
  background-color: #BADBDF;
}

.researchtext {
  width:45%;
  align-items: center;
  margin: 30px auto 0 auto;
  line-height: 2;
}

.researchtext p {
  font-size: 20px;
  color: black;
}

@media screen and (max-width: 991px){
  .researchtext{
    width: 85%;
  }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 30px;
}

.subcolumn {
  float: left;
  width: 20%;
  padding: 10px;
}

.subcolumn {
  float: left;
  width: 80%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  width: 80%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 991px) {
  .column {
    width: 100%;
  }
}

/* .column-left {
  float: left;
  width: 10%;
}

.column-middle {
  float: right;
  width: 20%;
}

.column-right {
  float: right;
  width: 60%;
} */
